<h1 align="center" class="head">Enter Post: </h1>
<form action="/add" method="post">
	<input type="text" class="form-control" placeholder="Heading" name="heading"><br>
	<textarea class="form-control" placeholder="content" name="content" rows="6"></textarea><br>
	<input class="form-control" type="text" placeholder="author" name="author"><br>
	<input type="submit" value="post" class="btn btn-primary">
</form>
