<h2>Are you sure you Want to delete the post?</h2>
<form action="/<%= @delete.id %>/delete" method="post">
<input type="submit" value="delete" name="delete" class="btn btn-block btn-danger" >
</form>
<a href="/<%= @delete.id %>" class="btn btn-primary" id="delete"> back</a>
