<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="<%= url('css/bootstrap.min.css') %>">
	<link rel="stylesheet" href="<%= url('css/main.css') %>">
</head>
<body>
<div class="container">
    <%= yield %>
</div>
</body>
</html>
